div.slideshow{
	
	width:100%;
	border:none;
	margin:0px;
}

div.slide{
	position:relative;
	width:100%;
	margin:0px;
	border:none;
	animation-name:fade;
	animation-duration:2s;
	-webkit-animation-name:fade;
	-webkit-animation-duration:2s;
	-moz-animation-name:fade;
	-moz-animation-duration:2s;
}


p.slideNumber{
	position:absolute;
	top:35px;
	right:35px;
	background-color:rgba(69,69,69,0.6);
	margin:0px;
	padding:5px;
	border-radius:8px;
	color:white;
	font-family:arial;
	font-size:20px;
}



div.slideNoteContainer{
	width:100%;
	position:absolute;
	bottom:70px;
}



p.slideNote{
	display:block;
	margin:auto;
	width:315px;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#a6a6a6;
	color:#595959;
	font-family:arial;
	font-size:34px;
	text-align:center;
	border-radius:8px;
}

div.slideButtonBar{
	position:absolute;
	bottom:28px;
	left:50%;
	width:110px;
	height:14px;
	margin-left:-55px;
	padding:0px;
}

button.slideButton{
	display:inline-block;
	width:14px;
	height:14px;
	margin:0px 10px 0px;
	padding:0px;
	border:none;
	border-radius:50%;
	background-color:#a6a6a6;
	transition: background-color 0.7s ease;
	
}

button.slideButton.active, button.slideButton:hover{
	border-color:#595959;
	background-color:#595959;
}

@keyframes fade{
	from{opacity:0.45;}
	to{opacity:1;}
}

@-webkit-keyframes fade{
	from{opacity:0.45;}
	to{opacity:1;}
}

@-moz-keyframes fade{
	from{opacity:0.45;}
	to{opacity:1;}
}
